    {# mark_as_read_by_url automatically marks all messages with #}
{# url = request.get_full_path and user=request.user as READ #}
{# So, when you click a specific page, it can autmatically close #}
{# some messages. #}
{% load mark_as_read_by_url %}
{% mark_as_read_by_url %}<!DOCTYPE html>
<html>
<head>
    <title>django-monitio demo</title>

    <!-- jquery from CDN and CSS for it -->
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>

    {% include "monitio/header.html" %}
</head>

<body style="width: 600px; margin-left: auto; margin-right: auto;">
<p>
    Hi. Thank you for testing this software!
    <div id="monitioMessages"></div>
</p>

{% if request.user.is_anonymous %}
    <p>
        You are <strong>not</strong> logged in. Please go to the <a
            href="/admin/">admin</a>
        and
        log in (as test/test). </p>

    <p>Then, please come back to this page - you will get additional
        instructions on
        how to test dynamic notifications messages.
    </p>
{% else %}
    Now go to the command prompt and run:
    <pre>
    $ manage.py send_message [from user] [to user] [INFO|ERROR] [message]
</pre>
    for example:
    <pre>
    $ manage.py send_message test test INFO "This is a test message"
    </pre>
    <strong>Make sure you are runing Redis</strong> on 127.0.0.1:6379 before
    issuing that command.
    <p>
        This will create a persistent message, that will be displayed at once
        (via SSE), and will stay displayed when you refresh this page. You will
        need to close it for it to stop displaying.
    </p>
    <p/>
    ... or, if you want just to play with SSE - aka "the cool stuff":
    <pre>
   $ manage.py sse_test test
</pre>
    -- to send dynamic notifications to user 'test'. Even anonymous users could
    receive SSE notifications, but currently, as I see no point in it, there
    is no support for them.<p>
    That's all. Now go and have fun! :-)
</p>
    <script type="application/javascript">
    $(document).ready(function(){
        $("#monitioMessages").MessagesPlaceholder({
            "url": '{% url "monitio:persistent-messages-sse" user.username %}'
        });
    });
    </script>
{% endif %}
</body>
</html