{% load i18n %}
<div id="message-{{ message.pk }}" class="ui-widget message">
    <div class="ui-corner-all
    {% if "info" in message.tags %}
    ui-state-highlight
    {% else %}
    {% for tag in message.tags %}
    ui-state-{{ tag }}
    {% endfor %}
    {% endif %}"
         style="margin-top: 5px; padding: 0 .8em;">
        <span class="ui-icon
        {% for tag in message.tags %}
        ui-icon-{% if tag == "error" %}circle-close{% else %}{{ tag }}{% endif %}
        {% endfor %}"
          style="float: left; margin-right: .7em; margin-top: .15em;"></span>

            {% if message.subject %}<strong>{{ message.subject }}:</strong>{% endif %}

            {{ message }}

            {% if message.is_persistent or jquery %}
                <a class="message-close icon" href="{% if message.is_persistent %}{% url "message_mark_read" message.pk %}{% else %}#{% endif %}"><span>{% trans "close" %}</span></a>
            {% endif %}
    </div>
</div>
